<div class="row">
    <div class="col">
        <button type="submit" value="Save" class="btn btn-info form-control">Save</button>
    </div>
    <div class="col">
        <a asp-action="index" class="btn btn-success form-control">BackToList</a>
    </div>
</div>
